<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue basics</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .one{
      color:green
    }
    .two{
      text-decoration: line-through;
    }
    .canvas{
      margin-top: 20px;
      background: #ddd;
      height: 300px;
      width: 300px;
    }
  </style>
</head>
<body>

  <h1>Vue Basics</h1>
  <div id="app">
    <h2>{{ title }}</h2>
    <p v-if='showName'>Mario</p>
    <p v-else-if='showAge'>25</p>
    <button @click='toggleName'>Show Name: {{showName}}</button>
    <button @click='toggleAge'>Show Age: {{showAge}}</button>
<hr>
    <button @click='logMessage'>click me</button>
    <button @click.alt='logMessage'>alt-click me</button>
    <button @click.shift='logMessage'>shift-click me</button>
    <a href="https://www.google.com" @click='logMessage'>Google</a>
    <a href="https://www.google.com" @click.prevent='logMessage'>Google...but no</a>
<hr>
    <p>My name is {{name}}</p>
    Key Up<input type="text" @keyup='updateName'>
    Key Press<input type="text" @keypress='updateName'>
    using v-model <input type="text" v-model='name'>
<hr>
    <p>{{ greet('evening') }}</p>
<hr>
    <button @click='logEvent'>Log Event Info</button>
    <div class="canvas" @mousemove='logCoords'>x={{coords.x}} y={{coords.y}}</div>
<hr>
    <p>I earn {{wage}} dollars per minute</p>
    <button v-on:dblclick='changeWage(2.5)'>Increase wage with dblclick</button>
    <button @dblclick='changeWage(-2.1)'>Decrease wage with dblclick</button>
    <button v-on:click='wage++'>Increase wage by $1</button>
    <button @click='wage--'>Decrease wage by $1</button>
<hr>
    <a :href="url">YouTube</a>
    <div :class='classes'>Classes from Instance</div> 
    InyerFace:          
    <input type="text" :value="name">
  </div>

  <script src='app.js'></script>
</body>
</html>